.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:gold;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

<div class="stars">
  <input type="radio" id="rate-5" name="rating-1">
  <label for="rate-5"></label>
  <input type="radio" id="rate-4" name="rating-1">
  <label for="rate-4"></label>
  <input type="radio" id="rate-3" name="rating-1">
  <label for="rate-3"></label>
  <input type="radio" id="rate-2" name="rating-1">
  <label for="rate-2"></label>
  <input type="radio" id="rate-1" name="rating-1">
  <label for="rate-1"></label>
</div>
CSS

.stars {
  float: left;
  overflow: hidden;
  width: 100%;
}
.stars input[type=radio]:checked ~ label:after {
  background: blue;
}
.stars input[type=radio] {
  display: none;
}
.stars input[type=radio]:first-child + label {
  padding-right: 0;
}
.stars:hover input[type=radio]:checked ~ label:after,
.stars label:after {
  background: green;
}
.stars label {
  box-sizing: border-box;
  width: 20%;
  padding-right: 2%;
  height: 120px;
  float: right;
  cursor: pointer;
}
.stars label:after {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  float: right;
  transition: all 0.25s;
  background: green;
}
.stars label:hover:after,
.stars label:hover ~ label:after {
  background: gold !important;
}