#body {
width: 100%;
height: 100%;
}

.header {
	color: #D9E8F5;
	border-style: solid;
}

.info {
	color: #D9E8F5;
	border-style: solid;
}

.action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

