{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}

<div class="knight" style="z-index:0;"></div>
<!-- <div class="twinkling" style="z-index:0;"></div> -->

    <h1>Knight Walker</h1>

	<div class="row" style="z-index:99999;">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<div class="main-area">
				<div class="title">
					Hi {{ user.first_name }}, what would you like to do?
				</div>
				<a href="/where_to_go_1.0" class="make-trip-btn btn btn-default"><i class="fa fa-google-plus"></i>Start a New Trip</a></li>
				<div class="title">
					or
				</div>
				<a href="/recommendList" style="margin-top:-15px;" class="make-trip-btn btn btn-default"><i class="fa fa-google-plus"></i>Join an Existing One</a></li>
			</div>
		</div>
	</div>

{% endblock %}