{% extends 'index.html' %}
{% load staticfiles %}


{% block header %}
	<link href="{% static 'css/recommendList.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% for trip in trip_list %}
		<!-- Header -->
		<div class="trip-entry" style="height:100%; position:relative">
			<div class="stars" style="z-index:0;"></div>
			<div class="twinkling" style="z-index:0;"></div>
			<div class="header">
				<div class = "row">
					<!-- Time -->
					<div class = "col-xs-7">
						<h6 class = "col-xs-4"> Meeting Time: </h6>
						<h6 class = "col-xs-3"> {{ trip.start_time }} </h6>
					</div>
					<!-- Rating -->
					<div class= "col-xs-5 rating">
						<h6 class = "col-xs-4"> Group Rating: </h6>
						<h6 class = "col-xs-2"> ***** </h6>
					</div>
				</div>

				<!-- Description -->
				<div class = "row">
					<div class = "col-xs-12">
						<h6 class = "col-xs-4"> Description: </h6>
						<div class = "col-xs-8">
							<h6 class = "col-xs-3"> Creator: </h6>
							<h6 class = "col-xs-5"> {{ trip.creator.user.name }} </h6>
						</div>
					</div>
				</div>
				
				<div class = "row">
					<div class = "col-xs-12">
					    <!-- Creator -->
					    <h6> {{ trip.description }} </h6>
				    </div>
				</div>	
			    <!-- Attendees -->
				<div class = "col-xs-12 row">
					<h6 class = "col-xs-3"> Attendees: </h6>
					<h6 class = "col-xs-9"> lalalal,yyyy </h6>
				</div>
			</div>

			<div class="google-map-data" data-startlon="{{trip.start_lon}}" data-startlat="{{trip.start_lat}}" data-destlon="{{trip.dest_lon}}" data-destlat="{{trip.dest_lat}}" data-id="{{trip.id}}"></div>
			<!-- Google Map -->
			<div class="map">
				<div id="greywrap">
			        <div class="row">
			            <div class="col-lg-4 callout">
			                <span class="icon icon-stack"></span>
			                </div><!-- col-lg-4 -->
			                <div id="googleMap{{trip.id}}" style="width:100%;height:380px;"></div>  
			                <div class="col-lg-4 callout">
			                    <span class="icon icon-eye"></span>
			                </div><!-- col-lg-4 --> 
			                
			                <div class="col-lg-4 callout">
			                    <span class="icon icon-heart"></span>
			                </div><!-- col-lg-4 --> 
			            </div><!-- row -->
			        </div><!-- greywrap -->
			    </div>
			</div>
		</div>
	{% endfor %}
	
{% endblock %}

{% block js %}
	<script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'js/reccommendlist.js' %}"></script>
{% endblock %}
