<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    
    <script>
    
        function send(){
            var x = document.getElementById("join");
            x.disabled = true;
            x.innerHTML = "Request sent!";
        }
        var startLat = 40.444663;
        var startLng = -79.945039;
        var from = new google.maps.LatLng(startLat,startLng);
        var destLat = 40.444;
        var destLng = -79.9608;
        var to = new google.maps.LatLng(destLat,destLng);
        var centerLat = (startLat + destLat)/2;
        var centerLng = (startLng + destLng)/2;
        var center = new google.maps.LatLng(centerLat,centerLng); 
        function initialize() {
            var mapProp = {
            center:center,
            zoom:15,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        
        var start = new google.maps.Marker({
            position:from,
            title:'From'
        });
        var dest = new google.maps.Marker({
            position:to,
            title:'To'
        });
        start.setMap(map);
        dest.setMap(map);
        var bounds = new google.maps.LatLngBounds();
        bounds.extend(from);
        bounds.extend(to);
        map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <link href="{% static 'css/trip.css'%}" rel="stylesheet" media="screen">
    <link href="{% static 'css/rating.css'%}" rel="stylesheet">

    </head>
  <body>
    <div class="stars" style="z-index:0 !important;"></div>
    <div class="twinkling" style="z-index:0 !important;"></div> 
    <div id = "body">
    <form id="msform">
    <div style="z-index:1">
        <h2 class = 'title'>FEB 5, 2016, 11:00 PM</h2>
        <div class = 'subtitle'>From: Carnegie Mellon University</div>              
        <div class = 'subtitle'>To: University of Pittsburgh</div>
        <div id="googleMap" style="height:650px;"></div>
        <div class="rating">
           <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <!-- <div class = 'subtitle'>rating: * * * * *</div>   -->
        <div class = 'subtitle'>Creator: emmazzz</div>
        <div class = 'subtitle'>3 people in group</div>
        <button type="button" id="join" onclick="send()" class = 'action-button'>JOIN!</button>
    </div>  
    </form>
    </div>  
    <!-- <a href="#" class="join-btn btn btn-default"><i class="fa fa-google-plus"></i>JOIN!</a></li> -->
  </body>
</html>


</html>