<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapProp = {
            center:new google.maps.LatLng(51.508742,-0.120850),
            zoom:5,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    </head>
  <body>
    <div id="greywrap">
        <div class="row">
            <div class="col-lg-4 callout">
                <span class="icon icon-stack"></span>
                   <h2>FEB 5, 2016, 11:00 PM</h2>
                </div><!-- col-lg-4 -->
                <div id="googleMap" style="width:500px;height:380px;"></div>  
                <div class="col-lg-4 callout">
                    <span class="icon icon-eye"></span>
                    <h2>From:</h2>
                </div><!-- col-lg-4 --> 
                
                <div class="col-lg-4 callout">
                    <span class="icon icon-heart"></span>
                    <h2>To:</h2>
                </div><!-- col-lg-4 --> 
            </div><!-- row -->
        </div><!-- greywrap -->
  </body>
</html>


</html>